<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Products App</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" style="justify-content: space-between;">
    <ul class="nav navbar-nav">
      <li class="nav-item" *ngFor="let item of navMenu">
        <a class="nav-link" [routerLink]="item.routerLink" routerLinkActive="active">{{item.text}}</a>
      </li>
    </ul>
    <div style="color: white;" (click)="isLoggedIn = !isLoggedIn">{{ !isLoggedIn ? 'Login' : 'Logout'}}</div>
  </div>
</nav>
<br>
<ngx-spinner></ngx-spinner>
